{% extends 'spa/base.html' %}
{% block content %}
  <h2 class="display-6 text-center mb-6">SPA</h2>
{{object_list}}
 <table class="table table-light table-striped table-hover align-items-center  text-center">
          <thead>
            <tr>

                <th scope="col">название курса</th>

                 <th scope="col">фото курса</th>

                <th scope="col">описание курса</th>

            </tr>
          </thead>
          <tbody>
           {% for object in object_list %}
                <tr>
                    <td>

                    <td>{{object.name}}</td>

                    <td>
                        <img src="/media/{{object.preview}}"  width="50" height=50  alt=""/>

                    </td>

                    <td>{{object.description}}</td>


                </tr>

          {% endfor %}

          </tbody>
        </table>
{% endblock %}