{% extends 'spa/base.html' %}
{% block content %}
  <h2 class="display-6 text-center mb-6">SPA</h2>
{{object_list}}
 <table class="table table-light table-striped table-hover align-items-center  text-center">
          <thead>
              <td>
                        <a class="btn.btn-default" href="{% url 'catalog:Product_form' object.pk %}" >Update</a>
                        {% if perms.catalog.create_Product %}
                            <a class="btn.btn-default" href="{% url 'catalog:Product_create' object.pk %}" >Create</a>
                        {% endif %}
                        {% if perms.catalog.delete_products %}
                            <a class="btn.btn-default" href="{% url 'catalog:Product_delete' object.pk %}" >Delete</a>
                        {% endif %}

              </td>
            <tr>

                <th scope="col">название курса</th>

                 <th scope="col">фото урока</th>
                <th scope="col">название урока</th>
                <th scope="col">описание урока</th>

            </tr>
          </thead>
          <tbody>
           {% for object in object_list %}
                <tr>
                    <td>

                    <td>{{object.name}}</td>

                    <td>
                        <img src="/media/{{object.preview}}"  width="50" height=50  alt=""/>

                    </td>

                    <td>{{object.description}}</td>
                    <td>{{object.price_per_unit}}</td>

                </tr>

          {% endfor %}

          </tbody>
        </table>
{% endblock %}